<%- include("partials/head") %>
<%- include("partials/myNavbar") %>

<div id="contactContainer">
    <h2 class="firstElement">Lets Get in Touch</h2>
    <div class="container fadeIn">
        <div id="formContainer" class="formContainer">
            <% if (!formSubmit) { %>
                <form action="/contact" method="post">
                    <input type="text" id="fname" name="fname" placeholder="first name" required>
                    <input type="text" id="lname" name="lname" placeholder="last name" required> 
                    <input type="email" id="email" name="email" placeholder="email address" required>
                    <textarea id="message" name="message" rows="10" cols="10" required></textarea>
                    <input id="submit" type="submit" value="submit">
                </form>               
            <% } 
            else { %>
                <h3 id="thankYouMessage">
                    <% if (spam == "false") { %>
                        Thank you <%= fname %> for submitting the form, I will contact you at <%= email %> ASAP!
                    <% }
                    else { %>
                        I got the request <%= fname %>, I will contact you at <%= email %> ASAP.  No need to resubmit the form or refresh the browser.
                    <% } %>
                </h3>
            <% } %>
        </div>
        <div id="mapContainer">
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d52845.1708968688!2d-117.5976649111596!3d34.12527617505869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1607576691821!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <!-- Map dimensions: width="600" height="450" -->
        </div>
    </div>
</div>

<%- include("partials/footer") %>