<%- include("partials/head") %>
<%- include("partials/myNavbar") %>

<div class="mainContainer firstElement">
    <h2>my messages</h2>
    <table>
        <thead>
            <tr>
                <th>first name</th>
                <th>last name</th>
                <th>email</th>
                <th>message</th>
            </tr>
        </thead>

    <% for (let message of messages){ %>
        <tbody>
            <tr>
                <td class="fname"><%= message.fname %></td>
                <td class="lname"><%= message.lname %></td>
                <td class="email"><%= message.email %></td>
                <td class="message"><%= message.message %></td>
            </tr> 
        </tbody>       
    <% } %>        
    </table>
</div>

<%- include("partials/footer") %>